* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

button {
    position: absolute;
    padding: 2% 5%;
    background-color: #7cc576;
    border: none;
    border-radius: 20px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: .5em;
    color: white;
    transition: .2s;
}

button:hover {
    background-color: white;
    color: black;
}

p {
    font-family: 'Roboto Slab', serif;
}

h2 {
    margin-bottom: 1vh;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    text-transform: uppercase;
}

h3 {
    margin: 5% 0;
    font-family: 'Montserrat', sans-serif;
    font-size: .7em;
    text-transform: uppercase;
}

.overlay::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
}

/* TOP MENU */

section.top {
    position: relative;
    height: 8vh;
    width: 90%;
    margin-left: 10%;
}

div.green {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    width: 3vh;
    height: 3vh;
    background-color: #7cc576;
    border-radius: 50%;
}

div.green img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
}

img.logo-th {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    width: 20%;
}

nav {
    position: absolute;
    top: 100%;
    right: 0%;
    z-index: 3;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: gray;
}

nav ul {
    list-style: none;
}

nav ul li {
    padding: 2vh 10vw;
    background-color: rgb(233, 233, 233);
    border-bottom: 1px solid lightgrey;
    transition: .3s;
}

nav ul li:last-of-type {
    border-bottom: none;
}

div.burger {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    color: grey;
    cursor: pointer;
}

div.burger i,
section.top nav {
    display: none;
}

div.burger i.active,
section.top nav.active {
    display: block;
}

@media (min-width: 800px) {
    section.top {
        display: flex;
        margin: 0 auto;
        height: 7vh;
        width: 90%;
    }

    div.logo {
        flex-basis: 15%;
    }

    div.green {
        width: 3vh;
        height: 3vh;
    }

    div.green img {
        width: 50%;
    }

    img.logo-th {
        width: 12%;
        left: 7%;
    }

    section.top nav {
        flex-basis: 60%;
        display: block;
        flex-direction: row;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
    }

    section.top nav ul {
        display: flex;
    }

    .top nav ul li {
        flex-basis: 15%;
        padding: 2vh 3vw;
        background-color: white;
        border-style: none;
        transition: .3s;
    }

    .top nav ul li:hover {
        color: #7cc576;
        transform: scaleX(1.1);
        cursor: pointer;
    }

    div.burger {
        display: none;
    }
}

/* @media (min-width: 800px) { */
/* section.top {
        height: 7vh;
        width: 90%;
    } */

/* div.green {
        width: 3vh;
        height: 3vh;
    } */

/* div.green img {
        width: 50%;
    } */

/* img.logo-th {
        width: 12%;
        left: 7%;
    } */

/* nav ul li {
        transition: .3s;
    } */

/* nav ul li:hover {
        color: #7cc576;
        transform: scaleX(1.1);
        cursor: pointer;
    } */
/* } */

@media (orientation: landscape) {
    section.top {
        height: 15vh;
        width: 95%;
        margin-left: 5vw;
    }

    div.green {
        width: 8vh;
        height: 8vh;
    }

    div.green img {
        width: 50%;
    }

    img.logo-th {
        width: 15%;
        left: 6%;
    }

    div.burger {
        right: 8%;
    }

    nav ul li {
        padding: 5vh 10vw;
    }
}

@media (orientation: landscape) and (min-width: 800px) {
    section.top {
        width: 90%;
        height: 18vh;
    }

    div.green {
        width: 7vh;
        height: 7vh;
    }

    img.logo-th {
        width: 12%;
        left: 6%;
    }
}

@media (orientation: landscape) and (min-width: 1280px) {
    section.top {
        height: 10vh;
    }

    div.green {
        width: 5vh;
        height: 5vh;
    }

    img.logo-th {
        width: 8%;
        left: 4%;
    }
}

/* HEADER */

header {
    position: relative;
    height: 30vh;
    background: url("assets/background_header.png") center/cover no-repeat;
}

header h1,
header p {
    z-index: 2;
    text-align: center;
    color: white;
}

header h1 {
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translateX(-50%);
    width: 65%;
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-weight: bold;
    font-size: 1.4em;
    text-transform: uppercase;
}

header p {
    position: absolute;
    top: 55%;
    width: 100%;
    font-family: 'Roboto Slab', serif;
    font-size: .6em;
}

header button {
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

@media (min-width: 540px) {
    header h1 {
        width: 45%;
        font-size: 1.6em;
    }
}

@media (min-width: 800px) {
    header h1 {
        width: 40%;
        font-size: 2em;
    }

    header p {
        font-size: .9em;
    }

    header button {
        padding: 1% 3%;
        font-size: .7em;
    }
}

@media (orientation: landscape) and (max-width: 900px) {
    header {
        height: 50vh;
    }

    header h1 {
        width: 40%;
        font-size: 1.4em;
    }

    header p {
        font-size: .6em;
    }

    button {
        padding: 1% 3%;
    }
}

@media (orientation: landscape) and (min-width: 991px) {
    header {
        height: 50vh;
    }

    header h1 {
        width: 40%;
        font-size: 2em;
    }

    header p {
        font-size: .8em;
    }

    button {
        padding: 1% 2%;
    }
}

/* PROFESSIONAL SERVICES */

section.services {
    width: 90vw;
    margin: 0 auto;
    padding: 5vh 0 3vh 0;
    text-align: center;
}

div.title {
    margin-bottom: 4vh;
}

.title p {
    font-size: .6em;
    color: grey;
}

img.icon {
    width: 10%;
}

div.service {
    margin: 0 auto 10% auto;
    width: 70%;
}

p.service {
    font-size: .6em;
    color: grey;
}

@media (min-width: 600px) {
    section.services {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 80%;
    }

    div.service {
        display: flex;
        flex-direction: column;
        flex-basis: 28%;
        align-items: center;
    }

    div.title {
        width: 100%;
    }

    img.icon {
        height: 2vh;
        width: auto;
        margin-bottom: 2vh;
    }

    p.service {
        line-height: 1.6;
    }
}

@media (min-width: 900px) {

    section.services {
        padding-top: 3vh;
    }

    h2 {
        margin-bottom: 2vh;
        font-size: 1.6em;
    }

    .title p {
        font-size: .7em;
    }

    h3 {
        font-size: 1em;
    }

    p.service {
        font-size: 0.7em;
    }
}

@media (orientation:landscape) and (min-width: 600px) {
    div.title {
        margin: 4vh auto 8vh auto;
    }

    img.icon {
        height: 6vh;
        width: auto;
        margin-bottom: 3vh;
    }
}

@media (orientation:landscape) and (min-width: 900px) {

    div.service {
        margin-bottom: 5%;
    }

    img.icon {
        height: 4vh;
    }
}

@media (orientation:landscape) and (min-width: 900px) {

    section.services p,
    .title p {
        font-size: .8em;
    }
}

/* RELAX */

section.relax {
    display: flex;
    height: 40vh;
}

div.gear {
    position: relative;
    flex-basis: 25%;
    background-color: #e9e9e9;
    overflow: hidden;
}

div.gear img {
    height: 60%;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
}

div.relax_description {
    position: relative;
    flex-basis: 75%;
    background: url("assets/background_relax.png") center/cover no-repeat;
    color: white;
}

div.dark {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.relax_description h2 {
    position: absolute;
    top: 8%;
    left: 8%;
    right: 8%;
}

.relax_description h2 span {
    color: #7cc576;
}

.relax_description p {
    position: absolute;
    top: 40%;
    left: 8%;
    right: 8%;
    font-size: 0.6em;
}

.relax_description ul {
    position: absolute;
    top: 58%;
    left: 8%;
    width: 70%;
    list-style: none;
    font-family: 'Roboto Slab', 'Arial', serif;
    font-size: 0.6em;
    line-height: 2;
}

.relax_description ul i {
    margin-right: 3%;
    font-size: 1em;
}

.relax_description button {
    position: absolute;
    top: 85%;
    left: 8%;
}

@media (min-width: 600px) {
    section.relax {
        height: 25vh;
    }

    .relax_description h2 {
        top: 13%;
    }

    .relax_description p {
        top: 35%;
        width: 70%;
    }

    .relax_description ul {
        top: 50%;
    }

    .relax_description button {
        top: 80%;
    }
}

@media (min-width: 800px) {

    .relax_description p,
    .relax_description ul,
    .relax_description button {
        font-size: .7em;
    }
}

@media (orientation: landscape) {
    section.relax {
        height: 70vh;
    }

    div.relax_description {
        padding-top: 5%;
    }
}

@media (orientation: landscape) and (min-width: 900px) {
    section.relax {
        height: 55vh;
    }

    div.relax_description p {
        width: 60%;
        line-height: 1.8;
    }

    div.relax_description button {
        top: 80%;
    }
}

@media (orientation: landscape) and (min-width: 1280px) {

    section.relax p,
    .relax_description ul {
        font-size: .8em;
    }
}

/* LATEST PROJECTS */

section.projects {
    width: 65vw;
    margin: 0 auto;
    padding: 5vh 0 3vh 0;
}

.projects div.title,
div.framework h3 {
    text-align: center;
}

div.framework {
    margin: 0 auto;
}

section.projects p {
    font-size: .6em;
    color: grey;
}

div.features {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    margin: 2vh 0 0 0;
}

div.feature {
    margin-bottom: 1vh;
    display: flex;
    flex-wrap: wrap;
}

div.feature i {
    flex-basis: 13%;
    margin-right: 3vw;
    text-align: center;
    line-height: 2;
}

div.feature_details {
    flex-basis: 80%;
    padding-top: 2%;
}

div.feature h4 {
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-size: .6em;
}

section.projects p.link {
    margin-top: 2vh;
    text-transform: uppercase;
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-weight: bold;
    color: #7cc576;
}

section.projects p.link i {
    color: #7cc576;
    font-size: .8em;
}

div.ipad {
    display: none;
}

@media (min-width: 600px) {

    section.projects {
        width: 100%;
        padding: 3vh 0;
    }

    div.framework-content {
        display: flex;
        flex-wrap: wrap;
        padding-left: 15%;
    }

    .section h3,
    .section p {
        flex-basis: 100%;
    }

    section.projects h3 {
        text-align: left;
    }

    section.projects p,
    section.projects h4 {
        font-size: .7em;
    }

    div.framework {
        flex-basis: 50%;
    }

    div.feature {
        flex-wrap: nowrap;
    }

    div.feature_details {
        padding-top: 2%;
    }

    div.feature i {
        font-size: 1.3em;
    }

    div.feature_details {
        padding-top: 1%;
    }

    div.ipad {
        display: block;
        flex-basis: 50%;
        overflow: hidden;
        position: relative;
    }

    div.ipad img {
        position: absolute;
        top: 10%;
        width: 120%;
    }
}

@media (orientation: landscape) {
    section.projects {
        width: 100%;
        padding: 9vh 0;
    }

    div.ipad img {
        bottom: 0;
        width: 100%;
    }
}

@media (orientation: landscape) and (min-width: 900px) {
    div.framework {
        flex-basis: 40%;
    }

    div.ipad {
        flex-basis: 60%;
    }

    div.ipad img {
        top: 10%;
        left: 100%;
        transform: translateX(-100%);
        width: 60%;
    }
}

@media (orientation: landscape) and (min-width: 1280px) {

    section.projects {
        padding: 7vh 0;
    }

    section.projects p,
    section.projects h4 {
        font-size: .8em;
    }

    div.framework-content {
        padding-left: 25%;
    }

    div.ipad img {
        top: 0;
        left: 100%;
        transform: translateX(-100%);
        width: 70%;
    }
}


/* CULTURE & VALUES */

section.culture {
    padding: 5vh 15vw;
    background-color: #e9e9e9;
    text-align: center;
}

section.culture p {
    font-size: 0.6em;
    color: grey;
}

div.value {
    margin-top: 4vh;
}

@media (min-width: 600px) {
    section.culture {
        padding: 3vh 10vw;
    }

    div.values {
        display: flex;
        justify-content: space-between;
    }

    div.value {
        flex-basis: 30%;
    }
}

@media (orientation: landscape) and (min-width: 600px) {
    section.culture {
        padding: 10vh 10vw;
    }

    div.values {
        margin-top: 5%;
    }
}

@media (orientation: landscape) and (min-width: 900px) {
    section.culture {
        padding: 6vh 10vw;
    }

    section.culture p {
        font-size: .7em;
    }

    div.values {
        width: 80%;
        margin: 0 auto;
        margin-top: 3%;
    }
}

@media (orientation: landscape) and (min-width: 1280px) {
    section.culture p {
        font-size: .8em;
    }
}

/* CLIENTS */

section.clients {
    margin: 0 auto;
    padding: 5vh 0 0 0;
    text-align: center;
}

div.ind-clients {
    width: 80%;
    margin: 5vh auto;
}

section.clients p {
    font-size: 0.6em;
    color: grey;
}

div.ind-client {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 3vh;
}

div.circle {
    flex-basis: 20%;
    border-radius: 50%;
    width: 15vw;
    height: 15vw;
    background-color: #e9e9e9;
}

div.quotation {
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2% 3%;
    height: 15vw;
    background-color: #e9e9e9;
    border-radius: 6px;
}


.ind-clients p.author {
    margin-top: 2%;
    color: #7cc576;
}

@media (min-width: 600px) {
    section.clients p {
        font-size: .7em;
    }

    div.quotation {
        padding: 5% 7%;
    }
}

@media (orientation: landscape) and (min-width: 600px) {
    section.clients {
        padding: 12vh 0;
    }

    div.ind-clients {
        margin-top: 10vh;
        width: 70%;
    }

    div.ind-client {
        margin-bottom: 8vh;
    }
}

@media (orientation: landscape) and (min-width: 900px) {

    section.clients {
        padding: 8vh 0 5vh 0;
    }

    div.ind-clients {
        width: 50%;
    }

    div.quotation {
        flex-basis: 70%;
        height: 9vw;
    }

    div.circle {
        height: 10vw;
    }
}

@media (orientation: landscape) and (min-width: 1280px) {
    div.ind-clients {
        margin: 5% auto;
    }

    div.quotation p {
        font-size: .8em;
    }
}


/* CONTACT US */
section.contact {
    padding: 3vh 10vw;
    background-color: #7cc576;
    color: white;
    text-align: center;
}

button.contact {
    position: relative;
    margin-top: 1vh;
    border: 2px solid white;
    border-radius: 3px;
}

button.contact:hover {
    background-color: white;
    color: #7cc576;
    transition: .2s;
}

@media (min-width: 600px) {
    button.contact {
        font-size: .7em;
    }
}

@media (orientation: landscape) {
    section.contact {
        padding: 10vh 10vw;
    }

    button.contact {
        margin-top: 8vh;
        padding: 2vh 4vw;
    }
}

@media (orientation: landscape) and (min-width: 900px) {
    section.contact {
        padding: 8vh 10vw;
    }

    button.contact {
        margin-top: 2vh;
        padding: 1vh 2vw;
    }
}

/* LOGOS */

section.logos {
    margin: 5vh auto 4vh auto;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

section.logos div {
    flex-basis: 45%;
    margin-bottom: 1vh;
}

section.logos div img {
    width: 100%;
}

@media (min-width: 600px) {

    section.logos {
        margin: 3vh auto 2vh auto;
    }

    section.logos div {
        flex-basis: 20%;
    }
}

@media (orientation: landscape) and (min-width: 600px) {
    section.logos {
        width: 60%;
        margin: 10vh auto;
    }

    section.logos div {
        flex-basis: 20%;
    }
}

@media (orientation: landscape) and (min-width: 900px) {
    section.logos {
        width: 50%;
        margin-top: 6vh;
        margin-bottom: 5vh;
    }
}

@media (min-width: 1280px) and (orientation: landscape) {
    section.logos {
        width: 40%;
    }
}

/* FOOTER TOP */

footer.footer-top {
    padding: 2vh 0;
    background-color: black;
    color: white;
}

div.latest-posts,
div.latest-tweets {
    display: none;
}

div.contact-us {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 37%;
    margin: 0 auto;
}

footer.footer-top h3 {
    flex-basis: 100%;
    padding-left: 7%;
}

footer.footer-top i {
    flex-basis: 25%;
    font-size: .8em;
    text-align: center;
}

div.contact-us p {
    flex-basis: 75%;
    margin: 2% 0;
    font-size: .6em;
}

div.contact-us a {
    color: white;
    text-decoration: none;
}

@media (min-width: 600px) {
    footer.footer-top {
        display: flex;
        justify-content: space-around;
        padding-left: 10%;
        padding-right: 10%;
    }

    div.contact-us {
        flex-basis: 25%;
        align-content: flex-start;
        align-items: center;
        margin: 0;
    }

    div.contact-us h3 {
        margin-top: 8%;
    }

    div.latest-posts {
        display: flex;
        flex-wrap: wrap;
        flex-basis: 40%;
        align-content: flex-start;
        align-items: center;
    }

    div.latest-tweets {
        display: block;
        flex-basis: 30%;
    }

    div.latest-tweets h3 {
        margin-top: 7%;
    }

    div.contact-us p,
    div.latest-posts p {
        flex-basis: 83%;
        font-size: .7em;
        margin: 0 auto 3% auto;
    }

    footer.footer-top i {
        flex-basis: 17%;
        margin-bottom: 3%;
    }
}

@media (orientation: landscape) and (min-width: 600px) {
    footer.footer-top p {
        font-size: .6em;
    }
}

@media (orientation: landscape) and (min-width: 700px) {
    footer.footer-top {
        padding: 5vh auto;
    }

    footer.footer-top p {
        font-size: .7em;
    }

    div.contact-us h3 {
        margin-top: 9%;
    }
}

@media (orientation: landscape) and (min-width: 900px) {
    footer.footer-top {
        padding-left: 15%;
        padding-right: 15%;
    }
}

/* FOOTER BOTTOM */

footer.footer-bottom {
    width: 70%;
    margin: 3vh auto;
    text-align: center;
    font-size: .6em;
}

footer.footer-bottom p {
    margin-bottom: 2vh;
    font-family: 'Montserrat', sans-serif;
}

footer.footer-bottom i.far {
    margin-right: 1vw;
}

div.some {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

footer.footer-bottom i.fab {
    flex-basis: 20%;
    font-size: 2em;
}

footer.footer-bottom a {
    color: black;
}

@media (min-width: 600px) {
    footer.footer-bottom {
        display: flex;
        width: 40%;
    }

    footer.footer-bottom p {
        line-height: 2em;
        margin-bottom: 0;
    }

    div.some {
        flex-basis: 35%;
    }
}

@media (min-width: 900px) {
    footer.footer-bottom {
        width: 30%;
    }

    footer.footer-bottom p {
        font-size: 1em;
    }

    footer.footer-bottom i.far {
        margin-right: .5vw;
    }

    div.some {
        flex-basis: 35%;
    }
}

@media (min-width: 1200px) {

    footer.footer-bottom {
        margin: 5vh auto;
        width: 50%;
    }

    footer.footer-bottom p {
        font-size: 1.3em;
    }

    footer.footer-bottom i.fab {
        font-size: 3em;
    }
}