/* 
    font-family: 'Montserrat', sans-serif;

    font-family: 'Roboto Slab', serif; */



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    position: absolute;
    padding: 2% 5%;
    background-color: #7cc576;
    border: none;
    border-radius: 20px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: .5em;
    color: white;
}

p {
    font-family: 'Roboto Slab', serif;
}

section.top {
    height: 10vh;
}

h2 {
    margin-bottom: 1vh;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    text-transform: uppercase;
}

h3 {
    margin: 5% 0;
    font-family: 'Montserrat', sans-serif;
    font-size: .7em;
    text-transform: uppercase;
}

.overlay::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
}


/* HEADER */

header {
    position: relative;
    height: 30vh;
    background-image: url("assets/background_header.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header h1 {
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    width: 65%;
    text-align: center;
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-weight: bold;
    font-size: 1.4em;
    text-transform: uppercase;
    color: white;
}

header p {
    position: absolute;
    top: 55%;
    z-index: 2;
    width: 100%;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    color: white;
    font-size: .6em;
}

header button {
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

@media (min-width: 540px) {
    header h1 {
        width: 45%;
        font-size: 1.6em;
    }
}

@media (min-width: 800px) {
    header h1 {
        width: 40%;
        font-size: 2em;
    }

    header p {
        font-size: .9em;
    }

    header button {
        padding: 1% 3%;
        font-size: .7em;
    }
}

@media (orientation: landscape) and (max-width: 900px) {
    header {
        height: 50vh;
    }

    header h1 {
        width: 40%;
        font-size: 1.4em;
    }

    button {
        padding: 1% 3%;
    }
}

@media (orientation: landscape) and (min-width: 991px) {
    header {
        height: 40vh;
    }

    header h1 {
        width: 40%;
        font-size: 2em;
    }

    header p {
        font-size: .7em;
    }

    button {
        padding: 1% 2%;
    }
}

/* PROFESSIONAL SERVICES */

section.services {
    width: 90vw;
    margin: 5vh auto 3vh auto;
    text-align: center;
}

div.title {
    margin-bottom: 4vh;
}

.title p {
    font-size: .6em;
    color: grey;
}

img.icon {
    width: 10%;
}

div.service {
    margin: 0 auto 10% auto;
    width: 70%;
}

p.service {
    font-size: .6em;
    color: grey;
}

@media (min-width: 600px) {
    section.services {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 80%;
    }

    div.service {
        display: flex;
        flex-direction: column;
        flex-basis: 28%;
        align-items: center;
    }

    div.title {
        width: 100%;
    }

    img.icon {
        height: 2vh;
        width: auto;
        margin-bottom: 2vh;
    }

    p.service {
        line-height: 1.6;
    }
}

@media (min-width: 900px) {

    section.services {
        margin-top: 3vh;
    }

    h2 {
        margin-bottom: 2vh;
        font-size: 1.6em;
    }

    .title p {
        font-size: .7em;
    }

    h3 {
        font-size: 1em;
    }

    p.service {
        font-size: 0.7em;
    }
}

@media (orientation:landscape) and (min-width: 600px) {
    div.title {
        margin: 4vh auto 8vh auto;
    }

    img.icon {
        height: 6vh;
        width: auto;
        margin-bottom: 3vh;
    }
}

@media (orientation:landscape) and (min-width: 900px) {

    div.service {
        margin-bottom: 5%;
    }

    img.icon {
        height: 4vh;
    }
}

/* RELAX */

section.relax {
    display: flex;
    height: 40vh;
}

div.gear {
    position: relative;
    flex-basis: 25%;
    background-color: #e9e9e9;
    overflow: hidden;
}

div.gear img {
    height: 60%;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
}

/* div.relax_text {
    z-index: 2;
} */

div.relax_description {
    position: relative;
    flex-basis: 75%;
    padding: 6% 5% 5% 6%;
    background-image: url("assets/background_relax.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}

div.relax_description h2 {
    /* z-index: 2; */
}

.relax_description h2 span {
    color: #7cc576;
    /* z-index: 2; */
}

.relax_description p {
    margin-bottom: 3%;
    font-size: 0.6em;
    /* z-index: 2; */
}

.relax_description ul {
    /* z-index: 2; */
    list-style: none;
    font-family: 'Roboto Slab', 'Arial', serif;
    font-size: 0.6em;
    line-height: 2;
}

.relax_description ul i {
    /* z-index: 2; */
    margin-right: 3%;
    font-size: 1em;
}

.relax_description button {
    /* z-index: 2; */
    position: absolute;
    top: 85%;
}

/* .relax_description h2,
.relax_description h2 span,
.relax_description p,
.relax_description ul,
.relax_description button {
    z-index: 2;
} */

@media (min-width: 600px) {
    section.relax {
        height: 30vh;
    }

    div.relax_description {
        padding-top: 10%;
    }
}

@media (min-width: 900px) {

    div.relax_description {
        padding-top: 6%;
        padding-right: 10%;
    }

    .relax_description p,
    .relax_description ul,
    .relax_description button {
        font-size: .7em;
    }

    .relax_description ul i {
        font-size: 1.5em;
    }

    .relax_description button {
        top: 82%;
    }
}

@media (orientation: landscape) {
    section.relax {
        height: 70vh;
    }

    div.relax_description {
        padding-top: 5%;
    }
}

@media (orientation: landscape) and (min-width: 900px) {
    section.relax {
        height: 55vh;
    }

    div.relax_description {
        padding-top: 5%;
    }

    div.relax_description p {
        width: 60%;
        line-height: 1.8;
    }

    div.relax_description button {
        top: 80%;
    }
}
}